* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}

.center{
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

/*////////////////////////HEADER///////////////////////////*/
.header{
    background: #222222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerSearch{
    margin-left: 41px;
}

.headerIcons:not(:last-child){
    margin-right: 33px;
}

/*///////////////////////HEADER-2///////////////////////*/

.header-2{
    background: #F8F3F4;
    height: 148px;
    display: flex;
    justify-content: space-between;
    
}
.header-2Right{
    display: flex;
    padding-top: 65px;
}

.header-2left{
    padding-top: 59px;
}
.header-2leftText{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;

}
.header-2RightHeader{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-decoration: none;

}

.header-2RightHeader:hover{
    color: #F16D7F;
}

.Header-2Righr{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}



/*/////////////////////////////////SLIDER//////////////////////////////*/

.slider{
    height: 777px;
    background: #F7F7F7;
    border: 1px solid  #EAEAEA;
}



/*////////////////////////////CONTENT//////////////*/

.content{
    border: 1px solid #EAEAEA;
    padding-top: 64px;
    padding-bottom: 64px;
    margin-bottom: 130px;
    text-align: center;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_mt{
    margin-top: -65px;
}

.content__title{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}
.content__short-line{
    margin:12px auto;
    height: 3px;
    width: 63px;
    background:#F16D7F;
}
.content__h2{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 48px;
    color: #4D4D4D;

}

.content__text{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
}

.content___prise{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    padding-top: 32px;
}

summary {
    display: block;
  }
  
summary::-webkit-details-marker {
    display: none;
}
  
details:focus,
summary:focus {
  outline: 0;
  outline: none;
}
.content__hr{
    height: 1px;
    width: 640px;
    background: #EAEAEA;
    margin:65px auto;
}

.sort{
    display: flex;
    gap: 23px;
    margin-bottom: 63px;
}

.sort__span-heading{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.button_link{
    border: 1px solid #EF5B70;
    height: 48px;
    color: #EF5B70;
    text-align: center;
    line-height: 48px;
    transition: all 2s;
    text-decoration: none;
    padding:0px 50px 0px 50px;
}



.button_link:hover {
    background: #EF5B70;
    color: #FFFFFF;
}
/*////////////////////////ТОВАРЫ////////////////////*/
.prodactBox{
    padding-top: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.prodact{
    width: 360px;
}
.prodactImg{
    width: 100%;
    display: flex;
    
}

.prodactHeading{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;


}

.prodactText{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 12px;
    margin-bottom: 18px;

}

.prodactPrice{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.prodactContent{
    background: #F8F8F8;
    padding: 24px 16px 20px;
}



.bottom{
    background-color:  #222224;
    height: 341px;
    margin-top: 96px;
    
}


.bottomPicture{
    margin-top: 104px;
    
}

.picture1{
    margin-left: 13%;
}

.picture2{
    margin-left: 30%;
}

.picture3{
    margin-left: 30%;
}

.bottomHeder{
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.bottomHeaderImportant{
    display: flex;
}

.bottomHeder1{
    margin-top:28px;
    margin-left: 9%;
}

.bottomHeder2{
    margin-top: 29px;
    margin-left: 23%;
}

.bottomHeder3{
    margin-top:28px ;
    margin-left: 21%;
}

.TextAbout{
    height: 34px;
    width: 310px;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;

}

.bottomText{
    display: flex;
}

.bottomText1{
    margin-top: 16px;
    margin-left: 1%;
}

.bottomText2{
    margin-left: 7%; 
    margin-top: 16px; 
}

.bottomText3{
    margin-left: 7%;
    margin-top: 16px;
}


/*/////////////////////////BOTTOM INPUT////////*/

.BottomInput{
    height: 448px;
    background-image: url(../img/photo\ subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-position: center bottom;
}



.BottomHeadering{
    padding-top: 150px;
    width: 557px;
    padding-left: 40%;
}

.BottomInputHeader{
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    color: #222224;
    text-align: center;
    
}

.BottomInputHeader2{
    font-weight: 400;
    font-size: 18px;
    line-height: 167.2%;
    color: #222224;
    text-align: center;
}

.BottomInputSend{
    background: #E1E1E1;
    height: 49px;
    border: none;
    padding-left: 22px;
    border-radius: 30px 0px 0px 30px;
    width: 256px;
    outline: none;
    
}

.InputAll{
    display: flex;
    padding-left: 58%;
    padding-top: 40px;
    width: 356px;
}

.InputSubmit{
    border: none;
    height: 49px;
    border-radius: 0px 30px 30px 0px;
    background: #F16D7F;
    color: #FFFFFF;
    text-align: center;
    width: 100px;
    outline: none;
}

.BottomPart1{
    
}

.BottomText{
    padding-top: 223px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    font-weight: normal;
    height: 99px;
    width: 360px;
}


/*/////////////СОЦ СЕТИ/////////*/

.Sotial{
    background: #222224;
    height: 79px;
    display: flex;
}

.SotialText{
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    padding-top: 30px;
    padding-left: calc(50% - 565px);
    

}

.SotialCards{
    padding-top: 24px;
    padding-left: calc(50% + 120px);
    
}


.bottom_links:hover .bottom_img
{
    fill: #EF5B70;
    
}

.bottom_links:hover .bottom_border
{
   fill: #FFFFFF;
    
}

.bottom_img{
    transition: all 2s;
}